.logo{
    width: 250px;
}

#navbar{
    background-color: #0D1524 ;
}

#navbar ul{
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    margin: 0;
}

#navbar ul li{
    display: inline;
    max-width: 0px 20px;
}

#navbar ul li a:hover{
    color: #FF0000;
}

#navbar ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

#carousel{
    height: 450px;

    margin-top: 10px;

    background-image:url('imgs/slider_1.jpg');

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center center;

    background-clip: content-box;
}

.intro-text{
    font-size: 20px;

    color: grey;

    font-weight: bold;

    line-height: 30px;

    letter-spacing: 2px;

    text-indent: 40px;
    
    text-align: justify;
}

.clear {
    clear: both;
}

.intro-product-left, .intro-product-right{
    float: left;
    width: 50%;
}

.intro-product-item{
    float: left;
    padding: 10px;
}

.intro-product-item-1{
    width: 50%;
}

.intro-product-item-2{
    width: 50%;
}

.intro-product-item img{
    width: 100%;
    display: block;
}

#product > h1{
    text-align: center;
}

.product-item{
    width:25%;
    padding: 0 10px;
    float: left;
    box-sizing: border-box;
}

.item-img{
    max-width: 100%;
}

.item-title{
    font-weight: bold;
    font-size: 25px;
}

.item-content{
    font-size: 17px;
    color: black;
}

.item-button{
    background-color: red;
    border: 1px solid red;
    color: white;
}

#banner{
    margin-top: 10px;
    height: 400px;
    background-image: url(imgs/nature.jpg);
    background-size: cover;
    position: relative;
}

#banner .saleoff{
    height: 300px;
    width: 300px;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 15%;
}

#banner .saleoff p:nth-child(2){
    font-size: 50px;
    margin: 10px 0;
}

#banner .saleoff h2, #banner .saleoff p{
    color: white;
    text-align: center;
}

#banner .saleoff h2{
    margin-top: 70px;
}

#service{
    width: 60%;
    margin: 20px auto;
}

#service .service-item{
    width: 33.3333333%;
    float: left;
    text-align: center;
}

#service .service-item i{
    font-size: 80px;
    color: black;
    border: 1px solid red;
}